<ion-header>
  <ion-toolbar>
      <ion-img src="../../assets/img/jogodavelha.png">
      </ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="primary" id="btnVoltar" href="home">Voltar Página Inicial</ion-button>
  <ion-button expand="block" color="secondary" id="btnJogarDnv" (click)="reiniciar()">Iniciar Partida</ion-button>
  <ion-grid [ngStyle]="{'display': display}">
    <ion-row class="linha">
      <ion-col id="col00" class="col" (click)="campo(0,0)"></ion-col>
      <ion-col id="col01" class="col" (click)="campo(0,1)"></ion-col>
      <ion-col id="col02" (click)="campo(0,2)"></ion-col>
    </ion-row>
    <ion-row class="linha">
      <ion-col id="col10" class="col" (click)="campo(1,0)"></ion-col>
      <ion-col id="col11" class="col" (click)="campo(1,1)"></ion-col>
      <ion-col id="col12" (click)="campo(1,2)"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="col20" class="col" (click)="campo(2,0)"></ion-col>
      <ion-col id="col21" class="col" (click)="campo(2,1)"></ion-col>
      <ion-col id="col22" (click)="campo(2,2)"></ion-col>
    </ion-row>
  </ion-grid>
  <div id="areaVencedor" [ngStyle]="{'display': areaVencedor}">
    Vencedor: {{vencedor}}
  </div>
  <div id="proximoJogador" [ngStyle]="{'display': proxJog}">
    Próximo jogador: {{proximoJogador()}}
  </div>
  
</ion-content>
