#margin{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#btnJogarDnv{
    margin-top: 20px;
    margin-bottom: 40px;

}
#espaco{
    margin-bottom: 20px;
}
.linha{
    border-bottom: 8px solid #5271ff;
}
.col{
    border-right: 8px solid #5271ff;
}
ion-col{
    height: 80px;
    text-align: center;
    font-size: 60px;
}
ion-grid{
    margin-left: 10px;
    margin-right: 10px;
}

